*{
  margin:0;
  padding:0;
}
.App {
  text-align: center;
  width:auto;
  height: auto;
}
#header {
  margin: 2%;
}

#header h4 {
  display: block;
  font-family: "Playfair Display", sans-serif;
  font-size: 2rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  padding: 1rem;
  color:#fff9fb;
  /* background-color: #cccccc; */
  border-radius: 15px;
}

#header p {
  /* border-left: #cccccc solid 0.5rem;
  border-right: #cccccc solid 0.5rem; */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #cccccc;
}

#app-container {
  /* background-color: #1c2942; */
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  /* color: white; */
}

#map {
  background-color: #1c2942;
  width: 70%;
  color: white;
  border-radius: 15px;
  position:'relative';
}

#space {
  margin-left:75%;
  width: 2%;
}

#list {
  margin-left:75%;
  width: 18%;
  color: #fff9fb;
  border-radius: 15px;
}
